USE [master]
GO
/****** Object:  Database [Test]    Script Date: 4/02/2020 4:05:42 p. m. ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
USE [Test]
GO
/****** Object:  User [user]    Script Date: 4/02/2020 4:05:42 p. m. ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[App]    Script Date: 4/02/2020 4:05:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App](
	[IdApp] [int] IDENTITY(1,1) NOT NULL,
	[nombreApp] [nvarchar](50) NULL,
 CONSTRAINT [IX_App] UNIQUE NONCLUSTERED 
(
	[IdApp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciclos]    Script Date: 4/02/2020 4:05:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciclos](
	[IdCiclo] [int] IDENTITY(1,1) NOT NULL,
	[nombreCiclo] [nvarchar](50) NULL,
	[IdVersion_FK] [int] NULL,
 CONSTRAINT [IX_Ciclos] UNIQUE NONCLUSTERED 
(
	[IdCiclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metrica]    Script Date: 4/02/2020 4:05:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metrica](
	[IdMetrica] [int] IDENTITY(1,1) NOT NULL,
	[nombreMetrica] [nvarchar](150) NULL,
	[cantidad] [float] NULL,
	[IdCiclos_FK] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 4/02/2020 4:05:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[IdVersion] [int] IDENTITY(1,1) NOT NULL,
	[nombreVersion] [nvarchar](50) NULL,
	[IdApp_FK] [int] NULL,
 CONSTRAINT [IX_Version] UNIQUE NONCLUSTERED 
(
	[IdVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciclos]  WITH CHECK ADD  CONSTRAINT [FK_Ciclos_Version] FOREIGN KEY([IdVersion_FK])
REFERENCES [dbo].[Version] ([IdVersion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ciclos] CHECK CONSTRAINT [FK_Ciclos_Version]
GO
ALTER TABLE [dbo].[Metrica]  WITH CHECK ADD  CONSTRAINT [FK_Metrica_Ciclos] FOREIGN KEY([IdCiclos_FK])
REFERENCES [dbo].[Ciclos] ([IdCiclo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Metrica] CHECK CONSTRAINT [FK_Metrica_Ciclos]
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD  CONSTRAINT [FK_Version_App] FOREIGN KEY([IdApp_FK])
REFERENCES [dbo].[App] ([IdApp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Version] CHECK CONSTRAINT [FK_Version_App]
GO
/****** Object:  StoredProcedure [dbo].[repo]    Script Date: 4/02/2020 4:05:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[repo] (
	-- Add the parameters for the stored procedure here
	@idVersion varchar(30))
AS
BEGIN
DECLARE @Columnas as VARCHAR(MAX), @query as VARCHAR(MAX)

select DISTINCT  nombreCiclo into #tempResul from Metrica  inner join 
Ciclos on  IdCiclos_FK = IdCiclo inner join Version on IdVersion_FK = @idVersion ; 
 
 set @Columnas = STUFF((select ',' + QUOTENAME(t.nombreCiclo) from #tempResul t for xml path (''), type).value('.','NVARCHAR(MAX)'),1,1,'')

 set @query = '

select nombreMetrica, '+ @Columnas+' from(
select nombreMetrica, cantidad, nombreCiclo from Metrica inner join Ciclos on  IdCiclos_FK = IdCiclo inner join Version on IdVersion_FK = '+@idVersion+') rest
PIVOT (AVG(cantidad) for nombreCiclo in ( '+ @Columnas+')) resul'

execute (@query)
print @Columnas; 
drop table #tempResul; 
END
GO
USE [master]
GO
